.ErrorView {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 1em;
  box-sizing: border-box;
  padding: 3em;
  
  h1 {
    font-weight: 400;
    font-size: 2em;
  }

  p{
    font-size: 1em;
  }
}